.container {
  max-width: 120rem; //if vw is <1200px, occupy 100% of vw
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark-1);

  min-height: 50rem;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);

  display: flex;
  justify-content: space-between;
  //how to align items in main axis
  //space-between- divides empty space between all elements
  align-items: center;
}

.content {
  display: flex;
  //parent container has to be set to flex to use flexbox
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  //0 0 18%--> flex-grow, flex-shrink, flex-basis

  display: flex;
  flex-direction: column;
  //sets main axis to vertical, default horizontol
  justify-content: space-between;
  //divides and pushes contents to the extreme of parent div
}

.hotel-view {
  background-color: #fff;
  background-color: orangered;
  flex: 1;

  height: 80rem;
}
